# Python Einführung
## Basics
Marcdown Zelle für Kommentare
- 1
- 2
- 3

## Kommentare

In [6]:
print("Hallo du")

Hallo du

In [5]:
# KOmmentare
print ("huhu")

huhu

## Einfache Datentypen

In [31]:
#Variablen und Wertezuweisung(value_assignment)
# String = Zeichenkette
name  = "Hawking "
print (name)

Hawking

In [9]:
# Integer - Ganzzahl
age = 73
print (age)

73

In [10]:
#Float - KOmmazahlen
size = 1.432
print (size)

1.432

In [11]:
#Boolscher Wert
is_scientist = True
print (is_scientist)

True

#Was für Datentyp - herausfinden, gibt immer den letzten aus:
type(name)
#Beide:
print (type(name))
print (type(age))

## Operatoren

In [21]:
5 + 5

10

In [23]:
6*2

12

In [24]:
age-3

70

In [25]:
age - 3

70

In [26]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [32]:
name * 10

'Hawking Hawking Hawking Hawking Hawking Hawking Hawking Hawking Hawking Hawking '

In [33]:
name + "10"

'Hawking 10'

In [34]:
type (size)

float

In [35]:
type (age)

int

In [36]:
size/age

0.019616438356164383

In [38]:
number_of_articles = "50"

In [40]:
#muss man sagen, dass Zahl ist, weil noch string nur
int(number_of_articles) /10

5.0

In [41]:
type (number_of_articles)

str

In [48]:
#50 ist immer noch ein String und kein integer geworden. deshalb wurde vorher das dazugesagt.

In [46]:
#gibt alle genutzen Variablen aus:
%who

age	 is_scientist	 name	 number_of_articles	 size

In [54]:
zahl = "10"
#Zuweisen von String zu Int
zahl = int(zahl)

In [55]:
type (zahl)

int

## Funktionen und Methoden

In [68]:
len(name)

8

In [58]:
#Objekt können auch mit Methoden daherkommen. Wie hier: 
name.upper()

'HAWKING '

In [59]:
name

'Hawking '

In [61]:
#Nur die Ausgabe wurde geändert. Wenn man ändern will, dann so:
name = name.upper()
print (name)

HAWKING

In [62]:
name

'HAWKING '

In [63]:
name.lower ()

'hawking '

In [64]:
name

'HAWKING '

In [67]:
#name. und dann tap - zeigt alle Optionen an. ersetzen.
name.replace("W", "uuuuuu")

'HAuuuuuuKING '

In [69]:
first_name = "Tinus"
first_name.count("T")

1

In [72]:
#Stringsverknüpfen, und Leerzeichen
first_name + " " + name

'Tinus HAWKING '

## Listen und dictionaries

In [89]:
#Liste namens [] und mit KOmmata getrennt
names = ["Darwin", "Hawking", "Curie"]

In [90]:
names

['Darwin', 'Hawking', 'Curie']

In [91]:
#1. Element der Liste ausgeben lassen. Zählt 0,1,2,3.
names[1]

'Hawking'

In [92]:
names [0]

'Darwin'

In [93]:
#Letzte Element ausgeben, auslesen wie viel sind drin und dann hier 3 ausgeben
len(names)

3

In [94]:
#Oder auch so ausgeben:
names [-1]

'Curie'

In [95]:
#Nur diese ausgeben
names [0:2]

['Darwin', 'Hawking']

In [97]:
#Alles bis 2. Element. 
names [:2]

['Darwin', 'Hawking']

In [98]:
slice_value = 2
names[slice_value]

'Curie'

In [100]:
#Alle:
names[:]

['Darwin', 'Hawking', 'Curie']

In [101]:
#exklusiv
names[:slice_value]

['Darwin', 'Hawking']

In [102]:
#inklusiv
names[slice_value:]

['Curie']

In [103]:
names[:1]

['Darwin']

In [105]:
#Dictionary Schlüsselwertpaare. mit {}
authors_and_ages = {"Darwin": 73, 
                    "Goethe": 80, 
                    "Curie": 66}

In [106]:
#Wert des Paares, über den Namen des Schlüssels
authors_and_ages["Curie"]

66

In [107]:
#Geht auch mit Strings
authors_and_ages = {"Darwin": "huhu", 
                    "Goethe": "hahaha", 
                    "Curie": "höhö"}
authors_and_ages["Darwin"]

'huhu'

In [108]:
#Geht auch mit Liste
authors_and_ages = {"Darwin": "huhu", 
                    "Goethe": names, 
                    "Curie": "höhö"}
authors_and_ages["Goethe"]

['Darwin', 'Hawking', 'Curie']

In [109]:
#Element einer Liste hinzufügen
names.append("Austen")

In [110]:
names

['Darwin', 'Hawking', 'Curie', 'Austen']

In [112]:
authors_and_ages["Rowling"] = 53

In [113]:
authors_and_ages

{'Darwin': 'huhu',
 'Goethe': ['Darwin', 'Hawking', 'Curie', 'Austen'],
 'Curie': 'höhö',
 'Rowling': 53}

## For-Schleife

In [114]:
#name ist ausgedacht, names haben wir festgelegt weiter oben.
for name in names:
    print(name)

Darwin
Hawking
Curie
Austen

In [116]:
for name in names:
    print(name + " ist super")

Darwin ist super
Hawking ist super
Curie ist super
Austen ist super

In [118]:
#löschen
names.remove("Darwin")
#oder mit del(names[Position])

In [119]:
names

['Hawking', 'Curie', 'Austen']

In [121]:
#Hilfe aufrufen
names.remove?

In [124]:
#Was in Schleife drin, grugru dann nur einmal am Ende noch rangepappt. Das andere steht in der Schleife 
#und wird für jeden Eintrag gemacht
for name in names:
    print(name + "cute")
    print ("lala")
print ("grugru")

Hawkingcute
lala
Curiecute
lala
Austencute
lala
grugru

## Conditionals

In [126]:
#Variable was zuweisen und was tun lassen:
temp = 20
if temp > 15:
    print("mildes Klima")
else:
    print("so kalt heute")

mildes Klima

In [127]:
temp = 8
if temp > 15:
    print("mildes Klima")
else:
    print("so kalt heute")

so kalt heute

In [131]:
#mit c und v hier die Zelle kopiert und else if angesehen:
temp = 30
if temp >= 25:
    print("so heiß")
elif temp >= 15:
    print("mildes Klima")
else:
    print ("kalt heute")

so heiß